.container {
  display: flex;
  justify-content: center;
  padding: 5rem 0;

  @media screen and (max-width: 56.25em) {
    flex-direction: column;
    align-items: center;
  }

  @media screen and (max-width: 28.125em) {
    padding: 0;
  }

  &__image {
    height: 50rem;
    width: 50rem;
    border: 1px solid black;
    background: url("../images/grey_circle.png");
    background-position: center;
    background-size: 45rem;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 37.5em) {
      height: 40rem;
      width: 40rem;
      background-size: 35rem;
    }

    @media screen and (max-width: 28.125em) {
      height: 100vw;
      width: 100%;
      padding: 0;
      background-size: 25rem;
    }

    img {
      width: 30rem;
      height: 30rem;

      @media screen and (max-width: 28.125em) {
        height: 20rem;
        width: 20rem;
      }
    }
  }
}

.list {
  height: 50rem;
  width: 40rem;
  border: 1px solid green;
  background-color: rgb(232, 240, 56);
  padding: 1rem 1rem 1rem 2rem;
  display: flex;
  align-items: center;

  @media screen and (max-width: 56.25em) {
    width: 50rem;
  }

  @media screen and (max-width: 37.5em) {
    width: 40rem;
  }

  @media screen and (max-width: 28.125em) {
    height: calc(100vh - 100vw - 7rem);
    width: 100%;
    padding: 0;
  }

  ul {
    height: 100%;
    width: 100%;
    list-style: none;
    overflow: hidden;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 1rem;
    }

    &::-webkit-scrollbar-track {
      background: rgb(184, 152, 88);
      border-radius: 1rem;
      box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    }

    &::-webkit-scrollbar-thumb {
      background: rgba(0, 0, 0, 0.7);
      border-radius: 1rem;
      border: 2px solid rgb(184, 152, 88);
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
  }
}
