$normal: rgb(182, 182, 168);
$fire: rgb(255, 94, 65);
$water: rgb(82, 168, 255);
$electric: rgb(255, 211, 82);
$grass: rgb(139, 211, 110);
$ice: rgb(121, 210, 255);
$fighting: rgb(197, 110, 96);
$poison: rgb(182, 110, 168);
$ground: rgb(226, 197, 110);
$flying: rgb(152, 167, 255);
$psychic: rgb(255, 110, 168);
$bug: rgb(182, 197, 66);
$rock: rgb(197, 182, 125);
$ghost: rgb(125, 125, 197);
$dragon: rgb(139, 124, 240);
